{% extends "layout.html" %}

{% block title %}
    Book
{% endblock %}

{% block body %}
    <div class="pull-right">
        <a href="{{ url_for('logout') }}">Logout</a>
    </div>

    <div class="pull-right">
        <a href="{{ url_for('books') }}">New Search</a>
    </div>

    <br>

    <h1>Book Details</h1>

    <ul>
        <li>Title: {{ book.title }}</li>
        <li>Author: {{ book.author }}</li>
        <li>Publication Year: {{ book.year}} </li>
        <li>ISBN: {{ book.isbn}} </li>
        <li>Goodreads Number of Ratings: {{ goodreads_num_ratings }} </li>
        <li>Goodreads Average Rating: {{ goodreads_ave_rating }} </li>        
    </ul>

    <h2>Ratings and Reviews</h2>
	<div class="container">
        {% for review in reviews %}
            <div class="row">           
            <div class="panel panel-default">
            <div class="panel-heading">
            <strong>Reviewer: {{review.user}}</strong> <span class="text-muted">(Rating: {{ review.rating }})</span>
            </div>
            <div class="panel-body">{{ review.content }}</div><!-- /panel-body -->
            </div><!-- /panel panel-default -->
            </div><!-- row -->
            <br>
        {% else %}
            No reviews.
        {% endfor %}
    </div><!-- /container -->

    <form action="{{ url_for('book', isbn=book.isbn) }}" method="post">
        <input class="form-control" name="rating" placeholder="Add rating(1-5)">
        <div class="form-group">
	        <label for="review">Add review:</label>
  			<textarea class="form-control" rows="5" name="review"></textarea>
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Submit</button>
        </div>
    </form>

    {{message}}

{% endblock %}
