{% extends "layout.html" %}

{% block title %}
    Books
{% endblock %}

{% block body %}
    <div class="pull-right">
        <a href="{{ url_for('logout') }}">Logout</a>
    </div>
    
    <h1>Search for Books:</h1>

    <form action="{{ url_for('books') }}" method="post">
        <div class="form-group">
            <input class="form-control" name="title" placeholder="Book Title">
            <input class="form-control" name="author" placeholder="Author">
            <input class="form-control" name="isbn" placeholder="ISBN">
        </div>

        <div class="form-group">
            <button class="btn btn-primary">Search</button>
        </div>

    </form>

   <ul>
        {% for book in books %}
            <li>
                <a href="{{ url_for('book', isbn=book.isbn) }}">
                    {{ book.isbn }}, {{ book.title }}, {{ book.author }}
                </a>
            </li>
        {% else %}
            <li>No Matching Results.</li>
        {% endfor %}
    </ul>
{% endblock %}
