{% extends "layout.html" %}

{% block title %}
    Book Ratings
{% endblock %}

{% block body %}
    <h1>Log In</h1>

    <form action="{{ url_for('books') }}" method="post">
		<input type="hidden" name="previous" value="login">

        <div class="form-group">
            <input class="form-control" name="username" placeholder="User Name">
            <input class="form-control" name="password" placeholder="Password">
        </div>

        <div class="form-group">
            <button class="btn btn-primary">Log In</button>
        </div>
    </form>

    {{ message }}

    <a href="{{ url_for('register') }}"> {{ "Register" }} </a>
{% endblock %}
