{% extends "layout.html" %}

{% block title %}
    Book Ratings
{% endblock %}

{% block body %}
    <h1>Register</h1>

    <form action="{{ url_for('books') }}" method="post">
		<input type="hidden" name="previous" value="register">

        <div class="form-group">
            <input class="form-control" name="username" placeholder="User Name">
            <input class="form-control" name="password" placeholder="Password">
        </div>

        <div class="form-group">
            <button class="btn btn-primary">Register</button>
        </div>
    </form>

    {{ message }}
{% endblock %}
